name: Java CI with Gradle

on:
  push:
    tags:
      - '*'

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Add permissons
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew shadowJar
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/libs/kookbc*.jar
